@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, sans-serif;
}

h1 {
  font-family: Monofett, sans-serif;
  font-weight: 600;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}

span {
  color: #000000;
  transition: transform 0.2s ease-in-out;
  opacity: 0.8;
}

span:hover {
  opacity: 1.0;
  transform: translateY(-7px) scale(1.2);
  cursor:crosshair;
}

.egg-background {
  background: url('/binding-light.png'), url('/animated-svg.svg');
  background-repeat: repeat, no-repeat;
  background-size: 150px 150px , cover;
}
